# Core Flask Dependencies
Flask
python-dotenv

# Forms and Validation
Flask-WTF
WTForms

# Database Integration
Flask-SQLAlchemy
Flask-Migrate
SQLAlchemy

# Testing
pytest
pytest-cov

# Security Scanning
safety==2.3.5
bandit==1.7.5

# Linting and Formatting
flake8
black

